/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS variables */
:root{
    --navbar-height :59px;
}

 /* Navigation Bar */
#navbar{
display: flex;
position: relative;
}
/* Nav_Bar : Logo & Image */
#logo{
    margin:2px 24px;
}
#logo img{
    height: 66px;
    margin: 1px 3px;
}
#navbar ul{
    display: flex;
    margin: 5px 2px;
    padding: 20px 2px;
}
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 4;
} 
#navbar ul li{
    list-style: none;
    font-size: 3 rem;
}
#navbar ul li a{
    color: white;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* Home Section */
#home{
      display:flex;
      flex-direction: column;
      padding: 3px 200px;
      height:400px;
      justify-content: center;
      align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
 